<div class="main-component-container">

  <div class="main-component-wrapper">
    <!-- <app-nav-menu-layout
        [style]="navStyle"
        [btnContent]="btnContent"
        [btnUrl]="btnUrl"
        [showSecondMenuPath]="showSecondMenuPath"
        [userProfileData]="userProfileData$ | async"></app-nav-menu-layout> -->

    <mat-toolbar class="main-component-toolbar">
      <img class="main-component-toolbar__img" src="assets/images/logos/logo-1.png" alt="">
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <app-carousel-banners [autoSlide]="true" [slideInterval]="10000" [images]="banners"></app-carousel-banners>

    <router-outlet></router-outlet>
  </div>

  <div>
    <!-- <app-footer-layout *ngIf="!hiddenFooter"></app-footer-layout> -->
  </div>
</div>
